{% extends "admin/base.html" %}

{% block extrahead %}{{ media }}
<script type="text/javascript">
    function getUrlParam( paramName ) {
        var reParam = new RegExp( '(?:[\?&]|&)' + paramName + '=([^&]+)', 'i' ) ;
        var match = window.location.search.match(reParam) ;

        return ( match && match.length > 1 ) ? match[ 1 ] : null ;
    }

    function send(form_id) {
        form = $(form_id);
        url = ''
        $.ajax(
            '{% url 'url-browser' %}',
            {
                type: 'POST',
                data: form.serializeArray(),
                success: function(responseText, responseStatus) {
                    //opener.dismissRelatedLookupPopup(window, responseText);
                    url = responseText;
                },
                async:false
            }
        );
        return url;
    }

    function set_url(url, is_form) {
        if (is_form) url = send(url);
        ckeditor_param = getUrlParam("CKEditorFuncNum");
        if (ckeditor_param) {
            url = {% verbatim %} "{% url " + url + " %}" {% endverbatim %};
            window.opener.CKEDITOR.tools.callFunction( ckeditor_param, url);
            this.close();
        } else {
            opener.dismissRelatedLookupPopup(window, url);
        }
    }
</script>
{% endblock %}

{% block content %}
    <div class="accordion" id="accordion">
        {% for app, forms in apps.items %}
        <div class="accordion-group">
            <div class="accordion-heading">
                <a data-toggle="collapse" href="#{{ app }}" class="accordion-toggle">{{ app }}</a>
            </div>
            <div id="{{ app }}" class="accordion-body collapse">
                <div class="accordion-inner">
                    <div class="accordion">
                        {% for name, form in forms.items %}
                        <div class="accordion-group">
                            {% if form %}
                            <div class="accordion-heading">
                                <a data-toggle="collapse" href="#{{ name }}" class="accordion-toggle">{{ form.Meta.verbose_name }}</a>
                            </div>
                            <div id="{{ name }}" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <div class="form-group">
                                        <form id="id_{{ form.get_url_name }}">{% csrf_token %}
                                        {{ form }}
                                        <input type="button" value="SET" onclick="set_url('#id_{{ form.get_url_name }}', true); return false;" class="btn btn-primary">
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {% else %}
                            <div class="accordion-heading">
                                <a href="#" onclick="set_url('{{ name }}', false);">{{ name }}</a>
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}